
/* HEADING */

#res-heading {
	background-color: #ddd;
	height: 125px;
	margin: 0;
	padding-top: 20px;
}

.resHeaderBoxes {
	height: 125px;
	margin-left: 5px;
}

/* Contact Info */

#contactInfo {
	font-size: 16px;
	color: black;
	text-align: center;
}

#phoneNumber {
	margin: 25px 0;
	font-size: 16px;
}

#city_state_zip div {
	display: inline;
}

/* Profile Info */
#nameAndTitle{
	color: black;
	text-align: center;
}

.resName {
	font-size: 24px;
	font-weight: bold;
	margin-top: 5px;
	text-transform: uppercase;
}

#title {
	margin-top: 5px;
	font-size: 16px;
	font-style: italic;
}

#profilePic {
	margin-top: 5px;

}

#profilePic img {
	height: 90px;
	border-radius: 999px;
	position: relative;
}

#links a {
	margin: 0 10px;
}

#favorites {
}
/* CONTROLS */

#controls {
	height: 60px;
	background-color: #1f1f1f;
	margin: 5px 0;
	position: relative;
}

#controls img {
	height: 20px;
	border-radius: 3px;
}


#prevRes {
	position: absolute;
	left: 180px;
	top: 10px;
}


#buttonWrap {
	margin: 0 auto;
	width: 296.67px;
}

#buttonWrap .options {
	margin: 10px;
}

.options {
	border-radius: 5px;
	background-color: #5ab9ec;
}

.options:hover {
	background-color: #5f3f5f;
}

.options:first-child {
	margin-left: 35px;
}

#nextRes {
	position: absolute;
	right: 180px;
	top: 10px;
}

/* MAIN */


#main{
	background-color: #fff;
	margin: 0;
}

/* Resume Viewer */

#resumeViewer {
	position: relative;
	height: 400px;
}

.bigTabs li {
	height: 90px;
}

.bigTabs li a {
	height: 90%;
}

.skeletonViewBox {
	padding: 4px;
	height: 100%;	
	overflow: auto;
}

.viewBoxes {
	position: absolute;
	background-color: #49697b;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: scroll;	
}

.viewBoxes table {
	border: 1px solid black;
	border-radius: 5px;
}
.viewBoxes table tr td:first-child {
	font-weight: bold;
}

.viewBoxes table tr:nth-child(even) {
	background-color: #49697b;
}

.viewBoxes table tr:nth-child(odd) {
	background-color: #fff;
}

.viewBoxes table tr td:last-child:hover {
	background-color: #FF9696;
	cursor: pointer;
}

.resInfo {
	margin: 50px 30px;
	
}

#workExp:target, #education:target, #skills:target, #accomplishments:target {
	z-index: 2;
}

/* TAGS box */

.tag {
	height: 100%;
	width: 100%;
	margin: 5px;
	display: inline-block;
	
	background-color: #ddd;
	border-radius: 5px;

	text-align: center;
	font-weight: bold;
}

#tagBox{
	margin-left: 0;
}

/* notes box */

#notesBox{
	background-color: #000;
	margin-left: 0;
}

#notesBox textarea {
	height: 80%;
	width: 100%;
	margin-top: -20px;
}

#notesBox textarea:focus {
	border: 2px red solid;
}